@*Area `Admin`*@

@using TradingApp.ViewModels.ProductReport

@model List<ProductReportViewModel>


<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Title</th>
            <th>CreatedAt</th>
            <th>Type</th> 
            <th>Status</th>
            <th class="text-center">Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ProductReportViewModel productsReports in Model)
        {
            <tr>

                <td>@(productsReports.Title)</td>
                <td>@(productsReports.CreatedAt)</td>
                <td>@(productsReports.Type)</td>
                <td>@(productsReports.Status)</td>

                <td class="text-center">
                <a class="btn btn-sm btn-primary"
                   asp-area="Admin"
                       asp-controller="ProductReports"
                   asp-action="ProductReport"
                       asp-route-reportId="@(productsReports.ReportId)">
                        Details
                </a>
                </td>

            </tr>
        }
    </tbody>
</table>