
@using TradingApp.ViewModels.Input_ProductReport
@model Created_ProductReportModel

@{
    Array reportTypes = (Array)ViewData["reportTypes"];
}

<h1>Report</h1>

<br />
<br />

<form asp-controller="ProductReportOperations" asp-action="Create_ProductReport" method="post">
    
    <div asp-validation-summary="ModelOnly" style="color:red"></div>

    <label>Title: </label>
    <input type="text" asp-for="@(Model.Title)"/>
    <span asp-validation-for="@(Model.Title)" class="text-danger"></span>

    <br />
    <br />

    <label>Message: </label>
    <br />
    <textarea rows="4" cols="50" asp-for="@(Model.Message)"></textarea>
    <span asp-validation-for="@(Model.Message)" class="text-danger"></span>

    <br />
    <br />

    <label>Type: </label>
    <select asp-for="@(Model.Type)">
        @foreach (var reportType in reportTypes)
        {
            <option>@(reportType.ToString())</option>
        }
    </select>
    <span asp-validation-for="@(Model.Type)" class="text-danger"></span>

    <br />
    <br />

    <input type="hidden" asp-for="@(Model.ReportedProductId)" value="@(Model.ReportedProductId)" />
    <input type="submit" class="btn btn-sm btn-primary" />

</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}