@using TradingApp.ViewModels.OrderRequest;
@model MyOrderRequestViewModel
@{
    ViewData["Title"] = Model.Title;
}




<h1>@(Model.Title)</h1>
<h3>Created on @(Model.CreationDate)</h3>
<h3>Max Price: @(Model.MaxPrice)$</h3>

<br />

<div>
    <p>@(Model.Description)</p>
</div>

<div>
    <a class="btn btn-sm btn-primary" asp-controller="OrderRequestOperations" asp-action="UpdateOrderRequest" asp-route-orderRequestId="@(Model.Id)">Edit</a>
    <a class="btn btn-sm btn-primary" asp-controller="OrderRequestOperations" asp-action="CancelOrderRequest" asp-route-orderRequestId="@(Model.Id)">Delete</a>
    @if (Model.HasSuggestions == true)
    {
        <a class="btn btn-sm btn-primary" asp-controller="Product" asp-action="SuggestedProducts_for_OrderRequest" asp-route-orderRequestId="@(Model.Id)">View suggestions</a>
    }
</div>

<br />