@using TradingApp.ViewModels.OrderRequest;
@model List<MyOrderRequestViewModel>

@{
    ViewData["Title"] = "My Requests";

    bool currentUserMaxSuggestionsCountReached = ViewData["currentUserMaxActiveRequestsCountReached"] is null ? false : (bool)ViewData["currentUserMaxActiveRequestsCountReached"];

    PaginationHelper paginationHelper = new PaginationHelper()
    {
        Controller = "OrderRequest",
        Action = "MyOrderRequests",
        PageIndex = (int)(ViewData["page"] ?? 0)
    };
}

<div class="row row-cols-1 row-cols-sm-2 g-2">
    <div style="text-align:left">
        <h1>@(ViewData["Title"])</h1>
    </div>

    <div style="text-align:right">
        @if (currentUserMaxSuggestionsCountReached == false)
        {
            <a class="btn btn-sm btn-primary" asp-controller="OrderRequestOperations" asp-action="CreateOrderRequest">
                Create request
            </a>
        }
        else
        {
            <p><b>Max requests count reached!</b></p>
        }
    </div>


</div>
<br />


@if (Model is null)
{
    <h2>You have not created any requests!</h2>
}
else
{
    <div class="container py-4">

        <div class="row row-cols-1 row-cols-sm-2 g-2">

            @foreach (MyOrderRequestViewModel orderRequestsViewModel in Model)
            {
                <div class="col">

                    <div class="card h-100 shadow-sm">
                        <div class="card-body text-center">

                            <h5>@(orderRequestsViewModel.Title)</h5>
                            <h6>@(orderRequestsViewModel.MaxPrice)$</h6>



                            <a class="btn btn-sm btn-primary" asp-controller="OrderRequest" asp-action="MyOrderRequest" asp-route-orderRequestId="@(orderRequestsViewModel.Id)">View</a>
                            <a class="btn btn-sm btn-primary" asp-controller="OrderRequestOperations" asp-action="UpdateOrderRequest" asp-route-orderRequestId="@(orderRequestsViewModel.Id)">Edit</a>
                            <a class="btn btn-sm btn-primary" asp-controller="OrderRequestOperations" asp-action="CancelOrderRequest" asp-route-orderRequestId="@(orderRequestsViewModel.Id)">Delete</a>

                        </div>
                    </div>

                </div>
            }

        </div>

    </div>


    <partial name="_Pagination" model="@(paginationHelper)"></partial>
}