@using TradingApp.ViewModels.Product;
@using TradingApp.GCommon.Enums;

@model MyProductViewModel
@{
    ViewData["Title"] = Model.ProductName;
    List<string> imageNames = new List<string>() { "front", "back", "top", "bottom", "left", "right" };
}


<h1>@(Model.ProductName)</h1>
<h3>Active sale orders: @(Model.ActiveSellOrdersCount)</h3>

<partial name="_MyProduct_Images" model="@Model"></partial>

<br />

<div>
    <p>@(Model.Description)</p>
</div>

<br />

<p>Price: @(Model.Price)$</p>

<a class="btn btn-sm btn-primary" asp-controller="ProductOperations" asp-action="UpdateProduct" asp-route-productId="@(Model.Id)">Edit</a>
<a class="btn btn-sm btn-primary" asp-controller="ProductOperations" asp-action="DeleteProduct" asp-route-productId="@(Model.Id)">Delete</a>
<br />
<br />

@if (Model.ProductStatus != ProductStatus.approved.ToString())
{
    <p><b>This product cannot be sold currently because it's status is "@(Model.ProductStatus)"!</b></p>
}
else
{
    <partial name="_MyProduct_SellOrderOptions"></partial>
}


@section Styles {
    <partial name="_ProductStyle"></partial>
}