@using TradingApp.ViewModels.Product;
@model List<MyProductsViewModel>
@{
    ViewData["Title"] = "My products";
    int pageIndex = (int)(ViewData["page"] ?? 0);
}

<div class="row row-cols-1 row-cols-sm-2 g-2">
    <div style="text-align:left">
        <h1>@(ViewData["Title"])</h1>
    </div>

    <div style="text-align:right">
        <a class="btn btn-sm btn-primary" asp-controller="ProductOperations" asp-action="CreateProduct">
            Create product
        </a>
    </div>


</div>
<br />


@if (Model is null)
{
    <h2>You have not created any products!</h2>
}
else
{
    <div class="container py-4">

        <div class="row row-cols-1 row-cols-sm-2 g-2">

            @foreach (var product in Model)
            {
                <div class="col">

                    <div class="card h-100 shadow-sm">

                        <img class="card-img-top img-fluid product-img"
                             src="~/Creators/@(product.CreatorName)/@(product.ProductName)/front.jpg"
                             alt="@product.ProductName" />

                        <div class="card-body text-center">

                            <h6 class="card-title fw-semibold">
                                @product.ProductName
                            </h6>

                            <h6>
                                Status: @product.ProductStatus
                            </h6>

                            <p class="card-text text-muted mb-2">
                                $@product.Price
                            </p>

                            <a class="btn btn-sm btn-primary" asp-controller="Product" asp-action="MyProduct" asp-route-productId="@(product.Id)">
                                View
                            </a>
                            <a class="btn btn-sm btn-primary" asp-controller="ProductOperations" asp-action="UpdateProduct" asp-route-productId="@(product.Id)">
                                Edit
                            </a>
                            <a class="btn btn-sm btn-primary" asp-controller="ProductOperations" asp-action="DeleteProduct" asp-route-productId="@(product.Id)">
                                Delete
                            </a>


                        </div>

                    </div>

                </div>
            }

        </div>

    </div>


    <div>
        <div style="text-align:left">
            <a asp-controller="Product" asp-action="MyProducts" asp-route-pageIndex="@(pageIndex - 1)">
                <img src="~/Common/PreviousElementsButton.jpg" style="width:30px; height:30px" />
            </a>

        </div>
        <div style="text-align:right">
            <a asp-controller="Product" asp-action="MyProducts" asp-route-pageIndex="@(pageIndex + 1)">
                <img src="~/Common/NextElementsButton.jpg" style="width:30px; height:30px" />
            </a>

        </div>
    </div>


    <style>
        .product-img {
            height: 300px;
            object-fit: contain;
            padding: 15px;
        }
    </style>
}