@using TradingApp.ViewModels.Product;
@model ProductViewModel
@{
    ViewData["Title"] = Model.ProductName;
}




<h1>@(Model.ProductName)</h1>
<h2>Created by @(Model.CreatorName)</h2>
<h3>In stock @(Model.SellOrdersCount)</h3>
<h4>Sell orders created from @(Model.FirstSellOrderCreationDate) to @(Model.LastSellOrderCreationDate)</h4>

<partial name="_Product_Images"></partial>

<br />

<div>
    <p>@(Model.Description)</p>
</div>

<br />

<p>Price: @(Model.Price)$</p>

<a class="btn btn-sm btn-primary" asp-controller="Order" asp-action="BuySellOrder" asp-route-productId="@(Model.Id)">Buy</a>
<a class="btn btn-sm btn-primary" asp-controller="ReportedProductOperations" asp-action="Create_ProductReport" asp-route-reportedProductId="@(Model.Id)">Report</a>


@section Styles {
    <partial name="_ProductStyle"></partial>
}