

@using TradingApp.ViewModels.Product;
@model ProductViewModel
@{
    ViewData["Title"] = Model.ProductName;
    List<string> imageNames = new List<string>() { "front", "back", "top", "bottom", "left", "right" };
    bool isPrivate = ViewData["isPrivate"] as bool? ?? false;
}




<h1>@Model.ProductName</h1>

<div class="container py-4">

    <div class="row row-cols-1 row-cols-sm-2 g-2">

        @for (int i = 0; i < 6; i++)
        {
            <div class="col">

                <div class="card h-100 shadow-sm">

                    <img class="card-img-top img-fluid product-img"
                         src="~/Creators/@(Model.CreatorName)/@(Model.ProductName)/@(imageNames[i]).jpg"
                         alt="@Model.ProductName" />

                    <div class="card-body text-center">

                        <h6 class="card-title fw-semibold">
                            @imageNames[i]
                        </h6>                                       

                    </div>

                </div>

            </div>
        }

    </div>

</div>

<br />

<p>@Model.Description</p>
<p>Price: @(Model.Price)$</p>


@if(isPrivate == true)
{
    <a class="btn btn-sm btn-primary" asp-controller="Product" asp-action="EditCreateProduct">Edit</a>
}
else
{
    <a class="btn btn-sm btn-primary" asp-controller="Product" asp-action="EditCreateProduct">Buy</a>
}


<style>
    .product-img {
        height: 500px;
        object-fit: contain;
        padding: 15px;
    }
</style>