@model PaginationHelper

<!-- <Pagination -->
<div class="d-flex justify-content-between align-items-center mt-4">

    <!-- Previous page-->
    <a class="btn btn-outline-secondary @(Model.PageIndex <= 0 ? "disabled" : "")"
       asp-controller="@(Model.Controller)"
       asp-action="@(Model.Action)"
       asp-route-pageIndex="@(Model.PageIndex - 1)">
        ← Previous
    </a>

    <!-- Page indicator -->
    <span class="fw-bold">Page @(Model.PageIndex + 1)</span>

    <!-- Next page-->
    <a class="btn btn-outline-secondary"
       asp-controller="@(Model.Controller)"
       asp-action="@(Model.Action)"
       asp-route-pageIndex="@(Model.PageIndex + 1)">
        Next →
    </a>

</div>
<!-- Pagination> -->