@using TradingApp.ViewModels.InputProduct;
@model TradingApp.ViewModels.InputProduct.UpdatedProductModel

@{
    ViewData["Title"] = "Update Product";

    List<string> imageNames = new List<string>() { "front", "back", "top", "bottom", "left", "right" };
    string frontImageName = imageNames[0];
}

<h1>@(ViewData["Title"])</h1>
<br />


<form asp-controller="ProductOperations"
      asp-action="UpdateProduct"
      method="post"
      enctype="multipart/form-data">

    <div asp-validation-summary="ModelOnly" style="color:red"></div>

    <label asp-for="ProductName">Name</label> <input asp-for="ProductName" type="text" />
    <span asp-validation-for="ProductName" class="text-danger"></span>
    <br />
    <br />

    <label asp-for="Description">Description</label> <input asp-for="Description" type="text" />
    <span asp-validation-for="Description" class="text-danger"></span>
    <br />
    <br />

    <label asp-for="Price">Price</label> <input asp-for="Price" type="text" />
    <span asp-validation-for="Price" class="text-danger"></span>
    <br />
    <br />

    <div class="container py-4">

        <div class="row row-cols-1 row-cols-sm-2 g-2">


            <div class="col">
                <div class="card h-100 shadow-sm">
                    <input type="file"
                           accept=".jpg,.jpeg"
                           asp-for="FrontImageFile" />
                    <span asp-validation-for="FrontImageFile" class="text-danger"></span>
                    <div class="card-body text-center">

                        <h6 class="card-title fw-semibold">
                            @imageNames[0]
                        </h6>

                    </div>
                </div>
            </div>



            <div class="col">
                <div class="card h-100 shadow-sm">
                    <input type="file"
                           accept=".jpg,.jpeg"
                           asp-for="BackImageFile" />
                    <span asp-validation-for="BackImageFile" class="text-danger"></span>
                    <div class="card-body text-center">

                        <h6 class="card-title fw-semibold">
                            @imageNames[1]
                        </h6>

                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card h-100 shadow-sm">
                    <input type="file"
                           accept=".jpg,.jpeg"
                           asp-for="TopImageFile" />
                    <span asp-validation-for="TopImageFile" class="text-danger"></span>
                    <div class="card-body text-center">

                        <h6 class="card-title fw-semibold">
                            @imageNames[2]
                        </h6>

                    </div>
                </div>
            </div>




            <div class="col">
                <div class="card h-100 shadow-sm">
                    <input type="file"
                           accept=".jpg,.jpeg"
                           asp-for="BottomImageFile" />
                    <span asp-validation-for="BottomImageFile" class="text-danger"></span>
                    <div class="card-body text-center">

                        <h6 class="card-title fw-semibold">
                            @imageNames[3]
                        </h6>

                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card h-100 shadow-sm">
                    <input type="file"
                           accept=".jpg,.jpeg"
                           asp-for="LeftImageFile" />
                    <span asp-validation-for="LeftImageFile" class="text-danger"></span>
                    <div class="card-body text-center">

                        <h6 class="card-title fw-semibold">
                            @imageNames[4]
                        </h6>

                    </div>
                </div>
            </div>



            <div class="col">
                <div class="card h-100 shadow-sm">
                    <input type="file"
                           accept=".jpg,.jpeg"
                           asp-for="RightImageFile" />
                    <span asp-validation-for="RightImageFile" class="text-danger"></span>
                    <div class="card-body text-center">

                        <h6 class="card-title fw-semibold">
                            @imageNames[5]
                        </h6>

                    </div>
                </div>
            </div>



        </div>

    </div>

    <br />
    <input type="file" asp-for="File3DModel" />
    <span asp-validation-for="File3DModel" class="text-danger"></span>
    <br />
    <br />
    <br />
    <input type="hidden" asp-for="Id" value="@(Model.Id)"/>
    <button type="submit">Apply Changes</button>

</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>